:root{
  scroll-behavior: smooth;
}
body{
  margin-top: 55px;
}
#header {
  background-color: blue;
}

#header__nav--main {
  background-color: pink;
}
/* #header__nav--idiomas {
  background-color: red;
} */

#inicio {
  background-color: lightblue;
  /* height: 875px; */
}
#inicio__photo--main {
  background-color: gray;
  height: 500px;
}
#inicio__visitar--text {
  background-color: black;
  height: 300px;
}
#inicio__visitar--photo1 {
  background-color: brown;
  height: 300px;
}
/* #inicio__visitar--photo2 {
  background-color: violet;
  height: 300px;
} */
#inicio__visitar--promo1 {
  background-color: orange;
  height: 75px;
}
#inicio__visitar--promo2 {
  background-color: beige;
  height: 75px;
}
#inicio__visitar--promo3 {
  background-color: purple;
  height: 75px;
}
#inicio__visitar--promo4 {
  background-color: lightblue;
  height: 75px;
}
#nosotros {
  background-color: green;
  /* height: 400px; */
}
#nosotros__photo {
  background-color: rgba(0, 0, 255, 0.479);
  height: 400px;
}
#nosotros__text {
  background-color: burlywood;
  height: 400px;
}
#contacto {
  background-color: yellow;
  /* height: 300px; */
}
#contacto__photo {
  background-color: rebeccapurple;
  height: 301px;
}
#contacto__form {
  /* background-color:darkblue; */
}
#fotos {
  background-color: indianred;
  height: 200px;
}
#fotos--1 {
  background-color: tan;
}
#fotos--2 {
  background-color: turquoise;
}
#fotos--3 {
  background-color: lavender;
}
#fotos--4 {
  background-color: brown;
}
#fotos--5 {
  background-color: blue;
}

#footer {
  background-color: red;
  height: 75px;
}
#footer__copyright {
  background-color: palegoldenrod;
  height: 75px;
}
#footer__info {
  background-color: yellow;
  height: 75px;
}
